/* فونت اختصاصی */
@font-face {
  font-family: "Vazirmatn";
  src: url("Vazirmatn-Regular.ttf") format("truetype");
}

body {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
  text-align: center;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* استایل عنوان اصلی سایت */
.site-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20vh;
  color: #007bff;
}

/* استایل زیرعنوان سایت */
.site-subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #555;
}

/* استایل نوار فیلتر */
.filters {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.filters select {
  padding: 8px;
  margin: 0 10px;
  font-size: 1rem;
  font-family: Vazirmatn;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* استایل جدول */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* دکمه خرید */
.buy-button {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

/* تغییر رنگ متن بسته‌های رایتل به سفید */
.tr-raitel td {
  color: white !important;
}

/* دکمه جزئیات */
.details-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-family: Vazirmatn;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #0056b3;
}

/* استایل کپی‌رایت */
.footer {
  background-color: gray;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}

/* استایل مودال */
.modal {
  display: none; /* به صورت پیش‌فرض مخفی */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* پس‌زمینه نیمه شفاف */
}

.modal-content {
  background: white;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  position: relative;
  border-radius: 8px;
}

.modal-content h3 {
  margin-top: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Media Query برای دستگاه‌های با عرض کمتر از 768px */
@media (max-width: 768px) {
  /* کاهش اندازه عنوان اصلی و تغییر فاصله از بالا */
  .site-title {
    font-size: 2.5rem;
    margin-top: 15vh;
  }

  /* کاهش اندازه زیرعنوان */
  .site-subtitle {
    font-size: 1.2rem;
  }

  /* تغییر جهت چینش فیلترها به عمودی */
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filters select {
    margin: 10px 0;
    width: 90%;
  }

  /* تنظیم اندازه جدول */
  table {
    width: 100%;
  }

  th,
  td {
    font-size: 0.9rem;
    padding: 8px;
  }

  /* تنظیم اندازه مودال */
  .modal-content {
    width: 90%;
    margin: 30% auto;
  }
}
